@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Needed to prevent inner elements from expanding past html element */
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


/* Note: root is inside body element */
body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;

}

html {
    box-sizing: border-box;
}

.flex-between {
  @apply flex justify-between items-center
}

.create_post_button {
  @apply cursor-pointer flex items-center sm:pr-4 px-4 border-r-2 border-gray-300 border-0 dark:border-gray-700
}

.button_text_nowrap {
  @apply whitespace-nowrap overflow-y-hidden max-w-[5rem] no-scrollbar
}
.darkmode_create_button_text {
  @apply text-lightNeutral-200 dark:text-darkNeutral-200
}

.darkmode_text_paragraph {
  @apply text-lightNeutral-200 dark:text-darkNeutral-500
}

.darkmode_text_primary {
  @apply text-lightPrimary-500 dark:text-darkPrimary-0
}

.darkmode_text_header {
  @apply text-lightNeutral-0 dark:text-darkNeutral-200
}

.darkmode_input_bg {
  @apply bg-lightNeutral-800 dark:bg-darkNeutral-900
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}