@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Needed to prevent inner elements from expanding past html element */
html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


/* Note: root is inside body element */
body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;

}

html {
    box-sizing: border-box;
}

.flex-between {
  @apply flex justify-between items-center
}

.create_post_button {
  @apply cursor-pointer flex items-center sm:px-4 px-6 border-r-2 border-gray-300 border-0 dark:border-gray-700
}
