@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;

    padding: 0;
    margin: 0;
}

/* Note: This is inside body element */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

